<div class="container-fluid bg-dark">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-primary text-decoration-none fw-bold fs-2">
      Reservas | Grupo O
    </a>

    <div class="text-end">
      <% if (locals.currentUrl !== '/login' && locals.currentUrl !== '/cadastro') { %>
        <a href="/cadastro" type="button" class="btn btn-outline-light me-2">Cadastre-se</a>
        <a href="/login" type="button" class="btn btn-warning">Sair</a>
      <% } %>
    </div>
</header>
</div>


