<div
  class="modal modal-sheet position-static d-block p-4 py-md-5"
  tabindex="-1"
  role="dialog"
  id="modalSignin"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Exclusão de Espaço</h1>
      </div>

      <div class="modal-body p-5 pt-0" id="divForm">
        <form id="form" onsubmit="enviaForm()" class="position-relative">
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control rounded-2"
              placeholder="Nome"
              id="nome"
              name="nome"
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control rounded-2"
              placeholder="Descrição"
              id="descricao"
              name="descricao"
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control rounded-2"
              placeholder="Capacidade"
              id="capacidade"
              name="capacidade"
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control rounded-2"
              placeholder="Local"
              id="local"
              name="local"
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control rounded-2"
              placeholder="Link imagem"
              id="img"
              name="img"
            />
          </div>
          <div class="divErro" role="alert"></div>
          <div class="form-group">
            <button type="submit" class="w-100 btn btn-outline-dark btn-md">
              Excluir
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  async function BuscaEspaco() {
    const id = "<%= id %>";

    const response = await fetch("/lerEspaco", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ id: id }),
    });

    const res = await response.json();
    console.log(res);
    if (!res) {
      window.location.href = "/home";
    }
    document.getElementById("nome").value = res.nome;
    document.getElementById("descricao").value = res.descricao;
    document.getElementById("local").value = res.local;
    document.getElementById("capacidade").value = res.capacidade;
  }
  BuscaEspaco();
</script>

<script>
  function irParaHome() {
    window.location.href = "/";
  }

  async function enviaForm() {
    event.preventDefault();
    let form = document.getElementById("form");
    const formData = new FormData(form);
    const id = "<%= id %>";
    formData.append("id", id);

    const response = await fetch("/deletEspaco", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: new URLSearchParams(formData).toString(),
    });
    const divErro = document.querySelector(".divErro");

    if (!response.ok) {
      const responseData = await response.json();
      const errMsg = responseData.err;
      divErro.innerHTML = errMsg;
      divErro.style.display = "flex";

      setTimeout(() => {
        divErro.innerHTML = "";
        divErro.style.display = "none";
      }, 2000);
    } else {
      divErro.innerHTML = "Espaço excluido!";
      divErro.style.background = "green";
      divErro.style.display = "flex";

      setTimeout(() => {
        divErro.innerHTML = "";
        divErro.style.display = "none";
        irParaHome();
      }, 2000);
    }
  }
</script>
