
<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
<div class="modal-header p-5 pb-4 border-bottom-0">
  <h1 class="fw-bold mb-0 fs-2">Edição de espaço</h1>
</div>
<div class="modal-body p-5 pt-0"  id="divForm">
  <form id="form" onsubmit="enviaForm(event)"  > 
    <div class="form-floating mb-3">
      <input class="form-control rounded-3"  type="text" id="nome" name="nome" required placeholder =""/>
      <label id="lblNome">Nome</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control rounded-3"  type="text" id="descricao" name="descricao" required placeholder="" />
      <label id="lblDesc">Descrição</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control rounded-3"  type="text" id="capacidade" name="capacidade" required placeholder =""/>
      <label id="lblCapacidade">Capacidade</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control rounded-3"  type="text" id="local" name="local" required placeholder =""/>
      <label id="lblLocal">Local</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control rounded-3"  type="text" id="img" name="img" required placeholder =""/>
      <label id="lblLocal">Link Imagem</label>
    </div>
    <div class="divErro"></div>

    <div style="display: flex;flex-direction: row; justify-content: space-around; margin-top: 2em;">
      <button  class="btn btn-outline-dark btn-md" type="submit">Editar</button>
      <button  class="btn btn-outline-dark btn-md" type="button" onclick="irParaHome()">Home</button>
      
    </div>     
  </form>
</div>
</div>
</div>


<script>
 verificaLogado();
 somenteAdmin()
  async function lerEspaco(){
    const id ="<%= id %>"
    const espaco =await BuscaEspaco(id)

    if (!espaco) {
    window.location.href = "/home";
  }
    document.getElementById("nome").value = espaco.nome;
    document.getElementById("descricao").value = espaco.descricao;
    document.getElementById("local").value = espaco.local;
    document.getElementById("capacidade").value = espaco.capacidade;
    document.getElementById("img").value = espaco.imagem;
  }
  lerEspaco()

async function enviaForm(event){
  const id ="<%= id %>"
  editEspaco(event,id)
}
</script>