<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>

  </style>
</head>
<body>
  <header>
    <div>
      <button>Adicionar Espaço</button>
      <button>Reservar espaço</button>
    </div>
  </header>
  
</body>
</html>