<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Login</h1>
      </div>

      <div class="modal-body p-5 pt-0" id="divForm">
    <form id="form" onsubmit="EfetuaLogin(event)"> 
      <div class="form-floating mb-3">
        <input type="text" class="form-control rounded-3" id="email" name="email" required placeholder =""/>
        <label id="lblEmail">E-mail</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control rounded-3" id="senha" name="senha" required placeholder =""/>
        <label id="lblSenha">Senha</label>
      </div>
      <div class="divErro"></div>
      <div style="display: flex;flex-direction: row; justify-content: space-around; margin-top: 2em;">
      <button class="btn btn-outline-dark btn-md" type="submit">Entrar</button>
       <button class="btn btn-outline-dark btn-md" onclick="irParaCadastro()">Cadastrar</button>
      </div>     
    </form>
  </div>
  </div>  
</div>
</div>

<script>
   limpaStorage()
</script>