<div class="container-fluid container-fluid-custom pb-5 mb-5">
  <h3>Minhas reservas</h3>
  <div id="minhasReservas" class="row">
  </div>

  <script>
    verificaLogado();
    lerMinhasReservas();
  </script>
</div>
