<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
<script>
  async function buscaReserva() {
    const id = "<%= id %>";
    const eventos = await fetch("/buscaReservasPorEspaco", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ espaco_id: id }),
    });

    const reservas = await eventos.json();
    return reservas.map((item) => {
      let dataInicioOriginal = item.reserva_inicio;
      const data = new Date(dataInicioOriginal);

      const ano = data.getFullYear();
      const mes = ("0" + (data.getMonth() + 1)).slice(-2);
      const dia = ("0" + data.getDate()).slice(-2);
      const horas = ("0" + data.getHours()).slice(-2);
      const minutos = ("0" + data.getMinutes()).slice(-2);
      const segundos = ("0" + data.getSeconds()).slice(-2);
      const milissegundos = ("00" + data.getMilliseconds()).slice(-3);
      const zonaHoraria = "Z";

      const dataInicioFormatada = `${ano}-${mes}-${dia}T${horas}:${minutos}:${segundos}`;

      let dataFimOriginal = item.reserva_fim;
      const dataFim = new Date(dataFimOriginal);

      const anoFim = data.getFullYear();
      const mesFim = ("0" + (dataFim.getMonth() + 1)).slice(-2);
      const diaFim = ("0" + dataFim.getDate()).slice(-2);
      const horasFim = ("0" + dataFim.getHours()).slice(-2);
      const minutosFim = ("0" + dataFim.getMinutes()).slice(-2);
      const segundosFim = ("0" + dataFim.getSeconds()).slice(-2);
      const milissegundosFim = ("00" + dataFim.getMilliseconds()).slice(-3);
      const zonaHorariaFim = "Z";

      const dataFimFormatada = `${anoFim}-${mesFim}-${diaFim}T${horasFim}:${minutosFim}:${segundosFim}`;

      return { title: "", start: dataInicioFormatada, end: dataFimFormatada };
    });
  }

  document.addEventListener("DOMContentLoaded", async function () {
    const calendarEl = document.getElementById("calendar");
    const reservas = await buscaReserva();
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",
      height: 650,
      selectable: true,
      select: function (info) {
        MostraHorarios(info);
      },
      selectConstraint: {
        startTime: "00:00",
        endTime: "24:00",
      },
      events: reservas,
    });

    calendar.render();
  });

  async function MostraHorarios(info) {
    const id = "<%= id %>";
    document.getElementById("diaSelecionado").value = info.startStr;

    const response = await fetch("/buscaReservaPorDia", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        espaco_id: id,
        dia: info.startStr,
      }),
    });

    const reservas = await response.json();

    const horarios = document.getElementById("horarios");
    horarios.innerHTML = "";
    reservas.map((event) => {
      const dtInicio = formataData(event.reserva_inicio);
      const dtFim = formataData(event.reserva_fim);

      horarios.innerHTML += `
        <div class="alert alert-info" role="alert">
          <h5>Já reservado neste dia:</h5>
          Das: ${dtInicio} --- às ${dtFim}
        </div>
        `;
    });
  }
</script>
<script>
  verificaLogado();
  async function BuscaEspaco() {
    const id = "<%= id %>";

    const response = await fetch("/lerEspaco", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ id: id }),
    });

    const res = await response.json();
    if (!res) {
      window.location.href = "/home";
    }
  }
  BuscaEspaco();
</script>
<div class="card border-primary card-body" style="min-height: 210px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 card-center">
        <div id="calendar"></div>
      </div>
      <div class="col-md-6 card-center">
        <div id="horarios"></div>
        <div id="divReservas">
          <div id="reservar">
            <h5>Clique na data no calendário para reservar o dia</h5>
            <div id="divForm">
              <form class="modal-body" id="form" onsubmit="enviaForm(event)">
                <div class="form-group form-floating mb-3">
                  <input class="form-control rounded-3" type="time" name="reserva_inicio" id="dtInicio" />
                  <label id="lblInicio">Indique horário inicial</label>
                </div>
                <div class="form-group form-floating mb-3">
                  <input class="form-control rounded-3" type="time" name="reserva_fim" id="dtFim" />
                  <label id="lblFim">Indique horário final</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control rounded-3" type="" id="descricao" name="descricao" required />
                  <label id="lblDesc">Observação</label>
                </div>
                <input type="hidden" id="diaSelecionado" name="diaSelecionado" />
                <div class="divErro"></div>

                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <button class="btn btn-primary btn-md" type="submit">
                    Reservar
                  </button>
                  <button class="btn btn-secondary btn-md" type="button" onclick="irParaHome()">
                    Cancelar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <script>
        verificaLogado();
        async function enviaForm(event) {
          const id = "<%= id %>";
          reservaEspaco(event, id);
        }
      </script>
    </div>
  </div>
</div>