<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reserva espaço</title>
  <style>
    #divReservas{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    border: 1px solid red;
    }
    #reservar{
      width: 48%;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #horarios{
  width: 48%;
  display: flex;
  flex-direction: column;
  }
    .divForm{
      padding: 3em;
      border:gray solid 1px;
      border-radius: .5em
    }
    
    .label-float{
      position: relative;
      padding-top: 10px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .label-float input{
      width: 100%;
      padding: 5px 5px ;
      display: inline-block;
      border: 0;
      border-bottom: 1px solid gray;
      background-color: transparent;
      outline: none;
      color: white;
      min-width: 170px;
      transition: all .3s ease-in-out;
      border-radius: 5%;
    }
    .label-float input:focus{
    border-bottom: 2px solid gray;
    border-radius: 10%;
    }
    input:-webkit-autofill{
      -webkit-box-shadow: 0 0 0px 1000px #252525 inset;
      background-color: transparent !important;
      -webkit-text-fill-color: white;
    }
    .label-float label{
      cursor: pointer;
      position: absolute;
      top:0;
      left: 0;
      margin-top: 10px;
      transition: all .5s ease-in-out;
    }
    .label-float input:focus + label,
    .label-float input:valid + label{
    font-size: 13px;
    margin-top: 0px;
    color: gray;
  }button{
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    padding: 5px;
  }
  </style>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
  <script>

    async function buscaReserva(){
    const id = '<%= id %>';
    const eventos = await fetch("/buscaReservasPorEspaco",{
      method:"POST",
      headers:{
        "Content-Type": "application/json"
      },
      body:JSON.stringify({espaco_id:id})
    }) 

    const reservas = await eventos.json()
    return reservas.map(item=>{

  let dataInicioOriginal =  item.reserva_inicio
  const data = new Date(dataInicioOriginal);

  const ano = data.getFullYear();
  const mes = ("0" + (data.getMonth() + 1)).slice(-2); 
  const dia = ("0" + data.getDate()).slice(-2); 
  const horas = ("0" + data.getHours()).slice(-2); 
  const minutos = ("0" + data.getMinutes()).slice(-2); 
  const segundos = ("0" + data.getSeconds()).slice(-2); 
  const milissegundos = ("00" + data.getMilliseconds()).slice(-3); 
  const zonaHoraria = "Z"; 

  const dataInicioFormatada = `${ano}-${mes}-${dia}T${horas}:${minutos}:${segundos}`


  let dataFimOriginal =  item.reserva_fim
    const dataFim = new Date(dataFimOriginal);

  const anoFim = data.getFullYear();
  const mesFim = ("0" + (dataFim.getMonth() + 1)).slice(-2); 
  const diaFim = ("0" + dataFim.getDate()).slice(-2); 
  const horasFim = ("0" + dataFim.getHours()).slice(-2); 
  const minutosFim = ("0" + dataFim.getMinutes()).slice(-2); 
  const segundosFim = ("0" + dataFim.getSeconds()).slice(-2); 
  const milissegundosFim = ("00" + dataFim.getMilliseconds()).slice(-3); 
  const zonaHorariaFim = "Z"; 

  const dataFimFormatada = `${anoFim}-${mesFim}-${diaFim}T${horasFim}:${minutosFim}:${segundosFim}`

  return {title:"",
    start: dataInicioFormatada,
      end: dataFimFormatada
  }
})
}

    document.addEventListener('DOMContentLoaded', async function() {
      const calendarEl = document.getElementById('calendar')
      const reservas = await buscaReserva();
      const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      height: 650,
      selectable: true,
      select: function(info) {
        MostraHorarios(info)
      },
      selectConstraint: {
        startTime: '00:00',
        endTime: '24:00'
      },
      events: reservas,
    });
  
    calendar.render()
    })


    async function MostraHorarios(info){
      
      const id = '<%= id %>';

      const response = await fetch("/buscaReservaPorDia",{
        method:"POST",
        headers:{
          "Content-Type": "application/json"
        },
        body:JSON.stringify({
          espaco_id:id,
          dia:info.startStr
        })
      })

      const reservas = await response.json()

      const horarios = document.getElementById("horarios") 
      horarios.innerHTML=""
      reservas.map(event =>{

        const dtInicio= formataData(event.reserva_inicio)
        const dtFim=formataData(event.reserva_fim)

    
        horarios.innerHTML +=`
        <div class="card">
          <h5>Descrição</h5>
          ${dtInicio} --- 
          ${dtFim}
        </div>
        `
      })
    } 
  
    function formataData(dt){
      const data = new Date(dt);
  const dia = ("0" + data.getDate()).slice(-2);
  const mes = ("0" + (data.getMonth() + 1)).slice(-2);
  const ano = data.getFullYear();
  const horas = ("0" + data.getHours()).slice(-2);
  const minutos = ("0" + data.getMinutes()).slice(-2);
  
  return `${horas}:${minutos}`;
    }
  </script>
</head>

<body>
  <script>
    async function BuscaEspaco(){
     const id = '<%= id %>';
   
     const response = await fetch("/lerEspaco",{
       method:"POST",
       headers:{
         "Content-Type": "application/json"
       },
         body: JSON.stringify({id:id})
     })
     
     const res = await response.json();
       if(!res){
       window.location.href="/home"
        }
   }
   BuscaEspaco()
 
   </script>
   <div id='calendar'></div>
   <div id="divReservas">
     <div id="reservar">
      <h5>Reservar</h5>
      <div id="divForm">
        <form id="form" onsubmit="enviaForm()"  > 
         
          <div class="label-float">
            <input type="" id="descricao" name="descricao" required/>
            <label id="lblDesc">Descrição</label>
          </div>
          <div class="label-float">
            <input type="time" id="dtInicio" >

            <label id="lblInicio">Inicio</label>
          </div>
          <div class="label-float">
            <input type="time" id="dtFim" >

            <label id="lblLocal">Final</label>
          </div>
          <div class="divErro"></div>
    
          <div style="display: flex;flex-direction: row; justify-content: space-around; margin-top: 2em;">
             <button type="button" onclick="irParaHome()">Limpar</button>
             <button type="submit">Reservar</button>
          </div>     
        </form>
      </div>
    </div>
    <div id="horarios"></div>
   
   </div>
</body>
<script>
  async function enviaForm(){
    event.preventDefault()

    let dtInicio = document.getElementById("dtInicio").value
    let dtFim = document.getElementById("dtFim").value

    if(dtInicio>dtFim){
      alert("Hora de inicio tem que ser menor que hora final ")
    }
    console.log("datas", dtInicio,dtFim)

    const inicio = new Date(`2000-01-01T${dtInicio}`);
    const fim = new Date(`2000-01-01T${dtFim}`);

    const diferencaEmMS = Math.abs(fim - inicio);

    const diferencaEmHs = diferencaEmMS / (1000 * 60 * 60);
    console.log("dif",diferencaEmHs)
    // Verificando se a diferença está entre 1 e 8 horas
    if (diferencaEmHs < 1 || diferencaEmHs > 8) {
        alert("Reserva tem que ser maior que 1 hora e menor que 8 horas.");
    } 

    

}
</script>
</html>